/* HTML Elements */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('')

* {
  box-sizing: border-box;
}

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://i.imgur.com/diMdwX2.png);
  background-size: cover;
  margin: 80px 20px 80px 20px;
  height: auto;
}

.header {
  text-align: center;
  margin: 40px;
}

h1 {
  font-size: 35px;
  font-family: 'Press Start 2P';
  color: lightgreen;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-family: 'Press Start 2P';
  color: lightgreen;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.play-body-wrapper {
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.column-how-to{
  flex: 20%;
  height: 250px;
  width: 180px;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin: 0 0 0 0;
}  

h3 {
  font-size: 17px;
  font-family: 'Press Start 2P';
  color: lightgreen;
}

.instructionsOne {
  font-size: 15px;
  font-family: Helvetica;
  color: lightgreen;
}

.instructionsTwo {
  font-size: 15px;
  font-family: Helvetica;
  color: lightgreen;
}

.instructionsThree {
  font-size: 15px;
  font-family: Helvetica;
  color: lightgreen;
}

.column-start-score {
  flex: 20%;
  justify-content: center;
  align-content: center;
  text-align: left;
}

.start {
  color: lightgreen;
  background-color: black;
  font-weight: bold;
  border: 5px solid darkgreen;
  box-shadow: 0px 0px 12px aqua;
  border-radius: 5px;
  padding: 15px;      
  text-align: center;      
  display: inline-block;      
  font-size: 12px; 
  font-family: 'Press Start 2P';
  transition-duration: 0.4s; 
  margin: 0 0 20px 0;
}

.start:active{
  box-shadow: inset 0 0.6em 3em -0.6em rgba(165, 165, 165, 0.7);
}

.start:hover { 
background-color: aqua;
font-size: 13px;
transition-duration: 0.3s;
}

p {
  font-size: 15px;
  font-family: 'Press Start 2P';
  color: lightgreen;
}

#scoreId {
  font-size: 15px;
  font-family: 'Press Start 2P';
  color: lightgreen;
}

#livesId {
  font-size: 15px;
  font-family: 'Press Start 2P';
  color: lightgreen;
  }

  /* Grid Elements */

.column-grid-wrapper {
  flex: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -150px 0 0 0;
  color: lightgreen;
  font-size: 45px;
  transition-duration: 0.5s;
  text-align: center;
}

.grid {
  -webkit-box-shadow:0px 0px 32px 6px rgba(45,255,196,0.87);
  -moz-box-shadow: 0px 0px 32px 6px rgba(45,255,196,0.87);
  box-shadow: 0px 0px 32px 6px rgba(45,255,196,0.87);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 360px;
  width: 360px;
  margin: 0;
}

.grid div {
  flex-grow: 1;
  height: 30px;
  width: 30px;
}

.borgs {
  background-image: url(https://i.imgur.com/5reGAae.png);
  background-size: 100%;
}

.borgsLaser {
  background-image: url(https://i.imgur.com/DT2IiNG.png);
  background-size: contain;
}

.starship {
  background-image: url(https://i.imgur.com/EeCF1PQ.png);
  background-size: contain;
}

.starshipLaser {
  background-image: url(https://i.imgur.com/5aeFG52.png);
  background-size: contain;
}

.starshipExplosion {
  background-image: url(https://i.imgur.com/KD0jCHh.png);
  background-size: contain;
}

/* .borgsLaser-hits::before {
content: '';
height: 30px;
width: 30px;
background-image: url(https://i.imgur.com/KD0jCHh.png);
background-size: contain;
} */